# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata
*.xcuserdatad
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Environment files
LiftsPump/.env

# macOS
.DS_Store
