//
//  Config.xcconfig
//  LiftsPump
//
//  Created by Ahmed Abushagur on 9/29/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SUPABASEKEY = sb_publishable_r0bD4H9dSr9IRg1sckrSjQ_06CRO54y
SUPABASEURL = 'https://dupuztvhoifyczvqyjbk.supabase.co'
