<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.703159570131-hikevjbnh0vop3iffqkb7dso9qme3o64</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Play-Bold.ttf</string>
		<string>SourceSans3-Light.ttf</string>
		<string>SourceSans3-Regular.ttf</string>
		<string>SourceSans3-SemiBold.ttf</string>
	</array>
</dict>
</plist>
