<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.703159570131-hikevjbnh0vop3iffqkb7dso9qme3o64</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>703159570131-hikevjbnh0vop3iffqkb7dso9qme3o64.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASEKEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASEURL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Play-Bold.ttf</string>
		<string>SourceSans3-Light.ttf</string>
		<string>SourceSans3-Regular.ttf</string>
		<string>SourceSans3-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
