<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFitrack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2F99E9B2C8D1CFB004D683F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F99EAC2C8D1CFD004D683F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F99EB62C8D1CFD004D683F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
